<template>
  <div class="about pa-6">
    <h1>About Vuetify Todo</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illum sequi nemo consequuntur? Ipsam deserunt consequuntur nulla error similique, sapiente repellat, eum quam a, provident temporibus dolorem praesentium laudantium labore.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illum sequi nemo consequuntur? Ipsam deserunt consequuntur nulla error similique, sapiente repellat, eum quam a, provident temporibus dolorem praesentium laudantium labore.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illum sequi nemo consequuntur? Ipsam deserunt consequuntur nulla error similique, sapiente repellat, eum quam a, provident temporibus dolorem praesentium laudantium labore.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illum sequi nemo consequuntur? Ipsam deserunt consequuntur nulla error similique, sapiente repellat, eum quam a, provident temporibus dolorem praesentium laudantium labore.</p>
  </div>
</template>
